.header {
    
    background-image: url(../../header.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px 40px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}